<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Immigration Data</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="./libs/v6.14.1-dist/ol.css" type="text/css">
  <style>
    .map {
      height: 500px;
      width: 100%;
    }
  </style>
  <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
  <!-- <link href="StyleSheet.css" rel="stylesheet"> -->
</head>

<body>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="http://127.0.0.1:5000/">Main Home Page</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://127.0.0.1:5000/map">Map Visualization</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href = 'http://127.0.0.1:5000/search_tool'>Search Tool</a>
    </li>
  </ul>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>GA Immigrants Dashboard</h1>
        <p>Use the interactive charts below to explore the dataset</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="well">
          <h5>GA Counties:</h5>
          <select id="selDataset" onchange="optionChanged(this.value)"></select>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Demorgraphic Info by County in GA</h3>
          </div>
          <div id="sample-metadata" class="panel-body"></div>
        </div>
      </div>
      <div class="col-md-7">
        <div id="bar"></div>
      </div>
      <div class="col-md-1">
        <div id="gauge"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="bubble"></div>
      </div>
    </div>
  </div>

  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="static/js/app.js"></script>
  <!-- <script type="text/javascript" src="./static/js/map_logic.js"></script>
  <script src="./libs/v6.14.1-dist/ol.js"></script> -->
  

  <!-- <script src="./static/js/bonus.js"></script> -->
  
</body>

</html><!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Immigration Data</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.14.1/css/ol.css" 
    type="text/css">
    <style>
      .map {
        height: 500px;
        width: 100%;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.14.1/build/ol.js"></script>
  <!-- <link href="StyleSheet.css" rel="stylesheet"> -->
</head>

<body>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="http://127.0.0.1:5000/">Main Home Page</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="">Map Visualization</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href = 'http://127.0.0.1:5000/search_tool'>Search Tool</a>
    </li>
  </ul>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>GA Immigrants Dashboard</h1>
        <p>Use the interactive charts below to explore the dataset</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="well">
          <h5>GA Counties:</h5>
          <select id="selDataset" onchange="optionChanged(this.value)"></select>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Demorgraphic Info by County in GA</h3>
          </div>
          <div id="sample-metadata" class="panel-body"></div>
        </div>
      </div>
      <div class="col-md-7">
        <div id="bar"></div>
      </div>
      <div class="col-md-1">
        <div id="gauge"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="bubble"></div>
      </div>
    </div>
  </div>

  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="static/js/app.js"></script>
  <script type="text/javascript" src="./static/js/logic.js"></script>
  

  <!-- <script src="./static/js/bonus.js"></script> -->
  
</body>

</html>